[*]

# Standard properties
charset=utf-8
end_of_line=lf
indent_size=4
indent_style=space
insert_final_newline=true
tab_width=4
trim_trailing_whitespace=true

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_prefer_braces=true:suggestion
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_naming_rule.constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.property_rule.import_to_resharper=as_predefined
dotnet_naming_rule.property_rule.severity=warning
dotnet_naming_rule.property_rule.style=lower_camel_case_style
dotnet_naming_rule.property_rule.symbols=property_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_property_rule.import_to_resharper=as_predefined
dotnet_naming_rule.static_property_rule.severity=warning
dotnet_naming_rule.static_property_rule.style=upper_camel_case_style
dotnet_naming_rule.static_property_rule.symbols=static_property_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_rule.type_parameters_rule.import_to_resharper=as_predefined
dotnet_naming_rule.type_parameters_rule.severity=warning
dotnet_naming_rule.type_parameters_rule.style=upper_camel_case_style
dotnet_naming_rule.type_parameters_rule.symbols=type_parameters_symbols
dotnet_naming_rule.types_and_namespaces_rule.import_to_resharper=as_predefined
dotnet_naming_rule.types_and_namespaces_rule.severity=warning
dotnet_naming_rule.types_and_namespaces_rule.style=upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols=types_and_namespaces_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper=as_predefined
dotnet_naming_rule.unity_serialized_field_rule.severity=warning
dotnet_naming_rule.unity_serialized_field_rule.style=lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols=unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.property_symbols.applicable_accessibilities=*
dotnet_naming_symbols.property_symbols.applicable_kinds=property
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_property_symbols.applicable_accessibilities=local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.static_property_symbols.applicable_kinds=class,property
dotnet_naming_symbols.static_property_symbols.required_modifiers=static
dotnet_naming_symbols.static_property_symbols.resharper_applicable_kinds=class,property
dotnet_naming_symbols.static_property_symbols.resharper_required_modifiers=static
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.type_parameters_symbols.applicable_accessibilities=*
dotnet_naming_symbols.type_parameters_symbols.applicable_kinds=type_parameter
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds=namespace,class,struct,enum,delegate
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities=*
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds=
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds=unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers=instance
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_braces_redundant=true
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_naming_rule.constants=AaBb
resharper_csharp_naming_rule.private_constants=AaBb
resharper_csharp_naming_rule.private_static_fields=_ + aaBb
resharper_csharp_naming_rule.private_static_readonly=AaBb
resharper_csharp_naming_rule.property=aaBb
resharper_csharp_naming_rule.static_readonly=AaBb
resharper_csharp_naming_rule.types_and_namespaces=AaBb
resharper_enforce_line_ending_style=true
resharper_show_autodetect_configure_formatting_tip=false
resharper_space_within_single_line_array_initializer_braces=false

# ReSharper inspection severities
resharper_arrange_accessor_owner_body_highlighting=warning
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_static_member_qualifier_highlighting=warning
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_bad_attribute_brackets_spaces_highlighting=warning
resharper_bad_braces_spaces_highlighting=warning
resharper_bad_colon_spaces_highlighting=warning
resharper_bad_comma_spaces_highlighting=warning
resharper_bad_control_braces_indent_highlighting=warning
resharper_bad_control_braces_line_breaks_highlighting=warning
resharper_bad_declaration_braces_indent_highlighting=warning
resharper_bad_declaration_braces_line_breaks_highlighting=warning
resharper_bad_empty_braces_line_breaks_highlighting=warning
resharper_bad_expression_braces_indent_highlighting=warning
resharper_bad_expression_braces_line_breaks_highlighting=warning
resharper_bad_generic_brackets_spaces_highlighting=warning
resharper_bad_indent_highlighting=warning
resharper_bad_linq_line_breaks_highlighting=warning
resharper_bad_list_line_breaks_highlighting=warning
resharper_bad_member_access_spaces_highlighting=warning
resharper_bad_namespace_braces_indent_highlighting=warning
resharper_bad_parens_line_breaks_highlighting=warning
resharper_bad_parens_spaces_highlighting=warning
resharper_bad_preprocessor_indent_highlighting=warning
resharper_bad_semicolon_spaces_highlighting=warning
resharper_bad_spaces_after_keyword_highlighting=warning
resharper_bad_square_brackets_spaces_highlighting=warning
resharper_bad_switch_braces_indent_highlighting=warning
resharper_bad_symbol_spaces_highlighting=warning
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_check_namespace_highlighting=hint
resharper_delegate_subtraction_highlighting=hint
resharper_field_can_be_made_read_only_local_highlighting=warning
resharper_incorrect_blank_lines_near_braces_highlighting=warning
resharper_inline_out_variable_declaration_highlighting=warning
resharper_json_validation_failed_highlighting=hint
resharper_member_can_be_made_static_local_highlighting=warning
resharper_missing_blank_lines_highlighting=warning
resharper_missing_indent_highlighting=warning
resharper_missing_linebreak_highlighting=warning
resharper_missing_space_highlighting=warning
resharper_multiple_spaces_highlighting=warning
resharper_multiple_statements_on_one_line_highlighting=warning
resharper_multiple_type_members_on_one_line_highlighting=warning
resharper_outdent_is_off_prev_level_highlighting=warning
resharper_parameter_hides_member_highlighting=hint
resharper_redundant_array_creation_expression_highlighting=warning
resharper_redundant_base_qualifier_highlighting=warning
resharper_redundant_blank_lines_highlighting=warning
resharper_redundant_default_member_initializer_highlighting=hint
resharper_redundant_explicit_array_creation_highlighting=hint
resharper_redundant_lambda_signature_parentheses_highlighting=warning
resharper_redundant_linebreak_highlighting=warning
resharper_redundant_space_highlighting=warning
resharper_string_compare_is_culture_specific_1_highlighting=error
resharper_string_compare_is_culture_specific_2_highlighting=error
resharper_string_compare_is_culture_specific_3_highlighting=error
resharper_string_compare_is_culture_specific_4_highlighting=error
resharper_string_compare_is_culture_specific_5_highlighting=error
resharper_string_compare_is_culture_specific_6_highlighting=error
resharper_string_compare_to_is_culture_specific_highlighting=error
resharper_string_ends_with_is_culture_specific_highlighting=error
resharper_string_index_of_is_culture_specific_1_highlighting=error
resharper_string_index_of_is_culture_specific_2_highlighting=error
resharper_string_index_of_is_culture_specific_3_highlighting=error
resharper_string_last_index_of_is_culture_specific_1_highlighting=error
resharper_string_last_index_of_is_culture_specific_2_highlighting=error
resharper_string_last_index_of_is_culture_specific_3_highlighting=error
resharper_string_starts_with_is_culture_specific_highlighting=error
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_tabs_and_spaces_mismatch_highlighting=warning
resharper_tabs_are_disallowed_highlighting=warning
resharper_tabs_outside_indent_highlighting=warning
resharper_unused_member_global_highlighting=hint
resharper_unused_member_local_highlighting=suggestion
resharper_use_null_propagation_highlighting=warning
resharper_use_object_or_collection_initializer_highlighting=warning
resharper_use_string_interpolation_highlighting=warning
resharper_wrong_indent_size_highlighting=warning
